{% extends 'base.html.twig' %}

{% block body %}
<section id="detailsRecette">
    <h1 class="pageTitle">{{ recette.nom }}</h1>
    {% set i = 0 %}
    {% for ingredient in recette.ingredients %}
        {{ dump(quantitesIngredients) }}
        <label for="">{{ ingredient.nom }}</label><br>
        <input type="text" value="{{ quantitesIngredients[i].quantite }}"><span>{{ ingredient.unitesmesure.abreviation }}</span><br>
        {% set i = i + 1 %}

    {% endfor %}

</section>
{% endblock %}